### https://raw.github.com/github/gitignore/7792e50daeaa6c07460484704671d1dc9f0045a7/Global/sbt.gitignore

# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/


### https://raw.github.com/github/gitignore/7792e50daeaa6c07460484704671d1dc9f0045a7/scala.gitignore

*.class
*.log

.idea

